venv/
__pycache__/
*.pyc
*.nc
*.zip
LEC_paper_results/
LEC_real_test/
toolkit_work/

*_fixed/

LEC_real_data/

LEC_100d_daily/
LEC_100d_real/

time_series_plot.png
scatter_plot.png
conditional_pdf.png
pdf_ratio.png
conditional_expectation.png
